In [5]:
import pandas as pd
df = pd.read_csv('/content/adult_with_headers.csv')
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
# Printing  the summary statistics of the dataset
print(df.describe())

                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [7]:
# Print the data types of each column in the dataset
print(df.dtypes)

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [8]:
numerical_data = df.select_dtypes(include=['int64', 'float64'])
categorical_data = df.select_dtypes(include=['object'])
print ('numarical data :',numerical_data)
print ('chatagorical data :',categorical_data)

numarical data :        age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
32556   27  257302             12             0             0              38
32557   40  154374              9             0             0              40
32558   58  151910              9             0             0              40
32559   22  201490              9             0             0              20
32560   52  287927              9         15024             0              40

[32561 rows x 6 columns]
chatagorical data :                workclass    education       marital_status  \
0              State-gov    Bachelors        Never-married
1       Self-emp-not-inc    Bachelors   Married-civ-spouse
2                Private      HS-grad             Divorced
3                Private         11th   Married-civ-spouse
4                Private    Bachelors   Married-civ-spouse
...                  ...          ...                  ...
32556            Private   Assoc-acdm   Married-civ-spouse
32557            Private      HS-grad   Married-civ-spouse
32558            Private      HS-grad              Widowed
32559            Private      HS-grad        Never-married
32560       Self-emp-inc      HS-grad   Married-civ-spouse

               occupation    relationship    race      sex  native_country  \
0            Adm-clerical   Not-in-family   White     Male   United-States
1         Exec-managerial         Husband   White     Male   United-States
2       Handlers-cleaners   Not-in-family   White     Male   United-States
3       Handlers-cleaners         Husband   Black     Male   United-States
4          Prof-specialty            Wife   Black   Female            Cuba
...                   ...             ...     ...      ...             ...
32556        Tech-support            Wife   White   Female   United-States
32557   Machine-op-inspct         Husband   White     Male   United-States
32558        Adm-clerical       Unmarried   White   Female   United-States
32559        Adm-clerical       Own-child   White     Male   United-States
32560     Exec-managerial            Wife   White   Female   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 9 columns]

In [9]:
# Check for missing values
missing_values = df.isnull().sum()

# Impute missing values for numerical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())

# Impute missing values for categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

# Check for missing values again
print(df.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [10]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard Scaling
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df[numerical_columns])
df_scaled = pd.DataFrame(scaled_data, columns=numerical_columns)

# Min-Max Scaling
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df[numerical_columns])
df_minmax = pd.DataFrame(scaled_data, columns=numerical_columns)
print('scaling techniques applyed sucessfully')

scaling techniques applyed sucessfully

In [11]:
import pandas as pd
for col in categorical_columns:
    if df[col].nunique() < 5:
        df_dummies = pd.get_dummies(df[col], prefix=col)
        df = pd.concat([df, df_dummies], axis=1)
        df.drop(col, axis=1, inplace=True)

# Print the updated DataFrame
print(df.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race  \
0        Never-married        Adm-clerical   Not-in-family   White
1   Married-civ-spouse     Exec-managerial         Husband   White
2             Divorced   Handlers-cleaners   Not-in-family   White
3   Married-civ-spouse   Handlers-cleaners         Husband   Black
4   Married-civ-spouse      Prof-specialty            Wife   Black

   capital_gain  capital_loss  hours_per_week  native_country  sex_ Female  \
0          2174             0              40   United-States        False
1             0             0              13   United-States        False
2             0             0              40   United-States        False
3             0             0              40   United-States        False
4             0             0              40            Cuba         True

   sex_ Male  income_ <=50K  income_ >50K
0       True           True         False
1       True           True         False
2       True           True         False
3       True           True         False
4      False           True         False

In [12]:
# applying Label encoding for categorical variables with more than 5 categories
from sklearn.preprocessing import LabelEncoder

categorical_columns = df.select_dtypes(include=['object']).columns
for col in categorical_columns:
    if df[col].nunique() > 5:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])

# Print the updated DataFrame
print(df.head())

   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship    race  capital_gain  capital_loss  \
0           1             1   White          2174             0
1           4             0   White             0             0
2           6             1   White             0             0
3           6             0   Black             0             0
4          10             5   Black             0             0

   hours_per_week  native_country  sex_ Female  sex_ Male  income_ <=50K  \
0              40              39        False       True           True
1              13              39        False       True           True
2              40              39        False       True           True
3              40              39        False       True           True
4              40               5         True      False           True

   income_ >50K
0         False
1         False
2         False
3         False
4         False

In [13]:
import pandas as pd

# Calculate the correlation matrix of the numerical data
correlation_matrix = numerical_data.corr()

# Print the correlation matrix
print(correlation_matrix)

                     age    fnlwgt  education_num  capital_gain  capital_loss  \
age             1.000000 -0.076646       0.036527      0.077674      0.057775
fnlwgt         -0.076646  1.000000      -0.043195      0.000432     -0.010252
education_num   0.036527 -0.043195       1.000000      0.122630      0.079923
capital_gain    0.077674  0.000432       0.122630      1.000000     -0.031615
capital_loss    0.057775 -0.010252       0.079923     -0.031615      1.000000
hours_per_week  0.068756 -0.018768       0.148123      0.078409      0.054256

                hours_per_week
age                   0.068756
fnlwgt               -0.018768
education_num         0.148123
capital_gain          0.078409
capital_loss          0.054256
hours_per_week        1.000000

In [6]:
import numpy as np
# Select a skewed numerical feature
skewed_feature = df['fnlwgt']

# Apply log transformation
df['fnlwgt'] = np.log(df['fnlwgt'])

# Justify the choice
print("Log transformation was chosen for the 'Flight_weight' feature because it is skewed to the right.")
print("Log transformation compresses the range of the data and reduces the influence of outliers.")

Log transformation was chosen for the 'Flight_weight' feature because it is skewed to the right.
Log transformation compresses the range of the data and reduces the influence of outliers.

In [15]:
from sklearn.ensemble import IsolationForest

# Creating an instance of the Isolation Forest algorithm
iso = IsolationForest(contamination='auto')

# Fitting the model to the data
iso.fit(numerical_data)

# Predict outliers using the Isolation Forest model
outlier_preds = iso.predict(numerical_data)

# Identify the outlier samples (outliers are marked as -1 by the Isolation Forest)
outlier_index = outlier_preds == -1

# Remove the outlier samples from the data
df_clean = numerical_data[~outlier_index]

# Print the number of outlier samples
print(f"Number of outlier samples: {sum(outlier_index)}")

Number of outlier samples: 3826

In [5]:
# Calculating the PPS matrix

import pandas as pd
import ppscore as pps
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Load the data
df = pd.read_csv('/content/adult_with_headers.csv')

# Identify numerical and categorical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns
categorical_columns = df.select_dtypes(include=['object']).columns

# Impute missing values for numerical columns
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())

# Impute missing values for categorical columns
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

# Apply One-Hot Encoding for categorical variables with less than 5 categories
for col in categorical_columns:
    if df[col].nunique() < 5:
        df_dummies = pd.get_dummies(df[col], prefix=col)
        df = pd.concat([df, df_dummies], axis=1)
        df.drop(col, axis=1, inplace=True)

# Apply Label encoding for categorical variables with more than 5 categories
categorical_columns = df.select_dtypes(include=['object']).columns # Update categorical columns after one-hot encoding
for col in categorical_columns:
    if df[col].nunique() > 5:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])

# Apply log transformation to 'fnlwgt' if it exists and is skewed
if 'fnlwgt' in df.columns:
    # Check for skewness (optional, but good practice)
    # if df['fnlwgt'].skew() > 0.5: # Example threshold for skewness
    df['fnlwgt'] = np.log1p(df['fnlwgt']) # Use log1p to handle zero values

# Calculate the PPS matrix
pps_matrix = pps.matrix(df)

# Print the PPS matrix
print(pps_matrix)

                x               y  ppscore            case  is_valid_score  \
0             age             age      1.0  predict_itself            True
1             age       workclass      0.0      regression            True
2             age          fnlwgt      0.0      regression            True
3             age       education      0.0      regression            True
4             age   education_num      0.0      regression            True
..            ...             ...      ...             ...             ...
284  income_ >50K  native_country      0.0      regression            True
285  income_ >50K     sex_ Female      0.0      regression            True
286  income_ >50K       sex_ Male      0.0      regression            True
287  income_ >50K   income_ <=50K      1.0      regression            True
288  income_ >50K    income_ >50K      1.0  predict_itself            True

                  metric  baseline_score  model_score                    model
0                   None        0.000000     1.000000                     None
1    mean absolute error        0.742600     0.875681  DecisionTreeRegressor()
2    mean absolute error        0.456164     0.471984  DecisionTreeRegressor()
3    mean absolute error        2.759000     2.806164  DecisionTreeRegressor()
4    mean absolute error        1.853000     1.898306  DecisionTreeRegressor()
..                   ...             ...          ...                      ...
284  mean absolute error        2.374800     4.243662  DecisionTreeRegressor()
285  mean absolute error        0.336000     0.423224  DecisionTreeRegressor()
286  mean absolute error        0.336000     0.423224  DecisionTreeRegressor()
287  mean absolute error        0.242400     0.000000  DecisionTreeRegressor()
288                 None        0.000000     1.000000                     None

[289 rows x 9 columns]

In [7]:
# Compare the PPS matrix with the correlation matrix
corr_matrix = df.corr()
print(corr_matrix)

                     age  workclass    fnlwgt  education  education_num  \
age             1.000000   0.003787 -0.057869  -0.010508       0.036527
workclass       0.003787   1.000000 -0.014458   0.023513       0.052085
fnlwgt         -0.057869  -0.014458  1.000000  -0.028573      -0.036606
education      -0.010508   0.023513 -0.028573   1.000000       0.359153
education_num   0.036527   0.052085 -0.036606   0.359153       1.000000
marital_status -0.266288  -0.064731  0.025290  -0.038407      -0.069304
occupation     -0.020947   0.254892  0.003391  -0.021260       0.109697
relationship   -0.263698  -0.090461  0.011350  -0.010876      -0.094153
capital_gain    0.077674   0.033835  0.003884   0.030046       0.122630
capital_loss    0.057775   0.012216 -0.004601   0.016746       0.079923
hours_per_week  0.068756   0.138962 -0.024682   0.055510       0.148123
native_country -0.001151  -0.007690 -0.060053   0.064288       0.050840
sex_ Female    -0.088832  -0.095981 -0.018419   0.027356      -0.012280
sex_ Male       0.088832   0.095981  0.018419  -0.027356       0.012280
income_ <=50K  -0.234037  -0.051604  0.000602  -0.079317      -0.335154
income_ >50K    0.234037   0.051604 -0.000602   0.079317       0.335154

                marital_status  occupation  relationship  capital_gain  \
age                  -0.266288   -0.020947     -0.263698      0.077674
workclass            -0.064731    0.254892     -0.090461      0.033835
fnlwgt                0.025290    0.003391      0.011350      0.003884
education            -0.038407   -0.021260     -0.010876      0.030046
education_num        -0.069304    0.109697     -0.094153      0.122630
marital_status        1.000000   -0.009654      0.185451     -0.043393
occupation           -0.009654    1.000000     -0.075607      0.025505
relationship          0.185451   -0.075607      1.000000     -0.057919
capital_gain         -0.043393    0.025505     -0.057919      1.000000
capital_loss         -0.034187    0.017987     -0.061062     -0.031615
hours_per_week       -0.190519    0.080383     -0.248974      0.078409
native_country       -0.023819   -0.012543     -0.005507     -0.001982
sex_ Female           0.129314   -0.080296      0.582454     -0.048480
sex_ Male            -0.129314    0.080296     -0.582454      0.048480
income_ <=50K         0.199307   -0.075468      0.250918     -0.223329
income_ >50K         -0.199307    0.075468     -0.250918      0.223329

                capital_loss  hours_per_week  native_country  sex_ Female  \
age                 0.057775        0.068756       -0.001151    -0.088832
workclass           0.012216        0.138962       -0.007690    -0.095981
fnlwgt             -0.004601       -0.024682       -0.060053    -0.018419
education           0.016746        0.055510        0.064288     0.027356
education_num       0.079923        0.148123        0.050840    -0.012280
marital_status     -0.034187       -0.190519       -0.023819     0.129314
occupation          0.017987        0.080383       -0.012543    -0.080296
relationship       -0.061062       -0.248974       -0.005507     0.582454
capital_gain       -0.031615        0.078409       -0.001982    -0.048480
capital_loss        1.000000        0.054256        0.000419    -0.045567
hours_per_week      0.054256        1.000000       -0.002671    -0.229309
native_country      0.000419       -0.002671        1.000000     0.008119
sex_ Female        -0.045567       -0.229309        0.008119     1.000000
sex_ Male           0.045567        0.229309       -0.008119    -1.000000
income_ <=50K      -0.150526       -0.229689       -0.015840     0.215980
income_ >50K        0.150526        0.229689        0.015840    -0.215980

                sex_ Male  income_ <=50K  income_ >50K
age              0.088832      -0.234037      0.234037
workclass        0.095981      -0.051604      0.051604
fnlwgt           0.018419       0.000602     -0.000602
education       -0.027356      -0.079317      0.079317
education_num    0.012280      -0.335154      0.335154
marital_status  -0.129314       0.199307     -0.199307
occupation       0.080296      -0.075468      0.075468
relationship    -0.582454       0.250918     -0.250918
capital_gain     0.048480      -0.223329      0.223329
capital_loss     0.045567      -0.150526      0.150526
hours_per_week   0.229309      -0.229689      0.229689
native_country  -0.008119      -0.015840      0.015840
sex_ Female     -1.000000       0.215980     -0.215980
sex_ Male        1.000000      -0.215980      0.215980
income_ <=50K   -0.215980       1.000000     -1.000000
income_ >50K     0.215980      -1.000000      1.000000

/tmp/ipython-input-7-950280190.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

In [10]:
# Discuss the relationships between features based on the PPS matrix
print("Based on the PPS matrix, the following features have the strongest relationships:")
# Filter the pps_matrix to only include rows where the ppscore is valid and greater than 0.7
strong_relationships = pps_matrix[(pps_matrix['is_valid_score']) & (pps_matrix['ppscore'] > 0.7)]

# Iterate through the filtered results and print the relationships
for index, row in strong_relationships.iterrows():
    print(f"* {row['x']} and {row['y']} (PPS score: {row['ppscore']:.2f})")

Based on the PPS matrix, the following features have the strongest relationships:
* age and age (PPS score: 1.00)
* workclass and workclass (PPS score: 1.00)
* fnlwgt and fnlwgt (PPS score: 1.00)
* education and education (PPS score: 1.00)
* education and education_num (PPS score: 1.00)
* education_num and education (PPS score: 1.00)
* education_num and education_num (PPS score: 1.00)
* marital_status and marital_status (PPS score: 1.00)
* occupation and occupation (PPS score: 1.00)
* relationship and relationship (PPS score: 1.00)
* race and race (PPS score: 1.00)
* capital_gain and capital_gain (PPS score: 1.00)
* capital_loss and capital_loss (PPS score: 1.00)
* hours_per_week and hours_per_week (PPS score: 1.00)
* native_country and native_country (PPS score: 1.00)
* sex_ Female and sex_ Female (PPS score: 1.00)
* sex_ Female and sex_ Male (PPS score: 1.00)
* sex_ Male and sex_ Female (PPS score: 1.00)
* sex_ Male and sex_ Male (PPS score: 1.00)
* income_ <=50K and income_ <=50K (PPS score: 1.00)
* income_ <=50K and income_ >50K (PPS score: 1.00)
* income_ >50K and income_ <=50K (PPS score: 1.00)
* income_ >50K and income_ >50K (PPS score: 1.00)